@model List<DataRouteDTO>

<div id="modal_pay" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content for payment-->
        <div class="modal-content">
            <form class="modal-pay" action="/payment/NewPayment" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Abono de cuota</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body main-body">
                    <div class="form-group">
                        <label for="name">Nombres:</label>
                        <input type="text" readonly class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="credit_id">Número de credito:</label>
                        <input type="text" readonly class="form-control" id="credit_id">
                    </div>
                    <div class="form-group">
                        <label for="amount_value">Valor de venta:</label>
                        <input type="text" readonly class="form-control" id="amount_value">
                    </div>
                    <div class="form-group">
                        <label for="done">Pagado:</label>
                        <input type="text" readonly class="form-control" id="done">
                    </div>
                    <div class="form-group">
                        <label for="saldo">Saldo:</label>
                        <input type="text" readonly class="form-control" id="saldo">
                    </div>
                    <div class="form-group">
                        <label for="payment_number">Valor de cuota:</label>
                        <input type="text" readonly class="form-control" id="payment_quote">
                    </div>
                    <div class="form-group">
                        <label for="done_payment">Cuotas pagadas:</label>
                        <input type="text" readonly class="form-control" id="done_payment">
                    </div>
                    <div class="form-group">
                        <label for="amount">Valor de abono:</label>
                        <input type="number" step="any" min="1" max="" required name="amount" class="form-control" id="amount">
                    </div>
                </div>
                <div class="modal-body msg-success visually-hidden">
                    <div class="form-group text-center">
                        <small class="text-color">Pago realizado</small>
                        <h2 class="text-success">0</h2>
                        <small class="text-color">Saldo restante</small>
                        <h2 class="text-primary">0</h2>
                    </div>
                </div>
                <div class="modal-footer main-body">
                    <div class="d-grid col-12">
                        <button type="submit" style="background-color:rgb(47, 50, 144);" class="btn btn-block btn-md text-white">Guardar pago</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget-table p-lg">
            <h4 class="m-b-lg">Clientes y Creditos</h4>
            @if(Model.FirstOrDefault()?.request != null)
            {
               @if(Model.FirstOrDefault().request.Equals("hide"))
                {
                    <div class="alert alert-warning alert-custom alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="alert-title">Informacion</h4>
                        <p>Orden cambiado por encima/debajo de un usuario que saltaste el dia de hoy.</p>
                    </div>
                }
            }

            <table class="table agente-route-table">
                <thead>
                <tr>
                    <th class="hidden">Orden</th>
                    <th>Credito</th>
                    <th>Nombres</th>
                    <th>Días en mora</th>
                    <th>Cuota diaria</th>
                    <th>Valor</th>
                    <th>Saldo</th>
                    <th>Ultimo pago</th>
                    <th>Barrio</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    @if(Model != null)
                    {
                        
                        @foreach(DataRouteDTO client in Model)
                        {
                            <tr id="td_@client.Id">
                                <td class="hidden">@client.order_list</td>
                                <td>@client.Id</td>
                                <td>@client.user.Name @client.user.LastName</td>
                                <td>@client.days_rest</td>
                                <td>@client.quote</td>
                                <td>@client.amount_total</td>
                                <td id="saldo">@client.saldo</td>
                                @if(client.last_pay != null)
                                {
                                    <td>@client.last_pay.Created_at</td>
                                }
                                else
                                {
                                    <td>No hay pagos</td>
                                }
                                <td>@client.user.Province</td>
                                <td>
                                    @if(client.user.Status.Equals("good"))
                                    {
                                        <span class="badge-info badge">BUENO</span>  
                                    }
                                    @if(@client.user.Status.Equals("bad"))
                                    {
                                        <span class="badge-danger badge">MALO</span>      
                                    }

                                </td>
                                <td>
                                    <div class="row row-cols-auto clearfix gx-1">
                                        <div class="col-6 float-start">
                                            <button data-bs-toggle="modal" data-bs-target="#modal_pay" class="btn btn-success btn-xs" href="payment/@client.Id"><i class="fa fa-money" data-bs-toggle="modal" data-bs-target="#modal_pay"></i> Pagar</button>
                                        </div>
                                        <div class="col-6 float-end">
                                            <a href="javascript:void(0)" id_user="@client.user.Id" id_credit="@client.Id" class="btn btn-warning btn-xs ajax-btn btn-pagar"><i class="fa fa-archive "></i> Saltar</a>
                                        </div
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody></table>
        </div><!-- .widget -->
    </div>
</div><!-- .row -->