@model AdminResumeDTO

<div class="row">
    <div class="col-12 pb-2">
        <small>Los montos siguientes son el total del sistema</small>
    </div>
    <div class="col-md-4 col-sm-6">
        <a>
            <div class="widget stats-widget widget-resume">
                <div class="widget-body clearfix h-100 bg-white">
                    <div class="pull-left">
                        <h3 class="widget-title text-dark">DISPONIBLE TOTAL</h3>
                        <h3 class="widget-title text-dark">

                            <b>@(Model.base_total - Model.total_bill-Model.total_credit)</b>
                            @if (Model.total_summary > 0)
                            {
                                <span>+</span>
                                <span class=""> @Model.total_summary</span>
                                <span class="text-success">= @(Model.base_total - Model.total_bill - Model.total_credit + Model.total_summary)</span>
                            }

                        </h3>
                    </div>
                    <span class="pull-right big-icon text-danger watermark"><i class="fa fa-arrow-down"></i></span>
                </div>
            </div><!-- .widget -->
        </a>

    </div>
    <div class="col-md-4 col-sm-6">
        <a>
            <div class="widget stats-widget widget-resume">
                <div class="widget-body h-100 clearfix bg-white">
                    <div class="pull-left">
                        <h3 class="widget-title text-dark">RECAUDADO TOTAL</h3>
                        <h3 class="widget-title text-dark"><b>@Model.total_summary</b></h3>
                    </div>
                    <span class="pull-right big-icon text-success watermark"><i class="fa fa-arrow-up"></i></span>
                </div>
            </div><!-- .widget -->
        </a>

    </div>
    <div class="col-md-4 col-sm-6">
        <a>
            <div class="widget stats-widget widget-resume">
                <div class="widget-body h-100 clearfix bg-white">
                    <div class="pull-left">
                        <h3 class="widget-title text-dark">GASTOS TOTALES</h3>
                        <h3 class="widget-title text-dark"><b>@Model.total_bill</b></h3>
                    </div>
                    <span class="pull-right big-icon text-warning watermark"><i class="fa fa-arrow-right"></i></span>
                </div>
            </div><!-- .widget -->
        </a>

    </div>
    <div class="clearfix"></div>
    <div class="row m-0 d-block col-12 pb-4">
        <hr>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="CreateUsers">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(242,223,165)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Crear usuarios
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="CreateWallet">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(223,242,213)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Crear cartera
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-wallet"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="ManageUsers">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(250,217,200)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Manejar usuarios
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-address-book"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <!--
        <div class="col-md-3 col-sm-6">
        <a asp-controller="Admin" asp-action="ManageWallets">
            <div class="widget">
                <div class="widget-body clearfix" style="background-color: rgb(128,171,221)">
                    <div class="pull-left">
                        <h3 class="widget-title text-black">
                            Manejar cartera
                        </h3>
                    </div>
                    <span class="pull-right big-icon watermark">
                        <i class="fa-solid fa-cash-register"></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
    -->
</div>
