@model UsersList
@{
}
<div class="row">
    <div class="widget-table">
        <h4 class="mb-2" "style="font-weight:400;">Usuarios</h4>
        <hr class="mb-4" />
        <div class="col-md-12 col-sm-12">
            <table class="table table-striped admin-table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Cartera</th>
                        <th scope="col">Supervisor</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model._users != null){
                        @foreach(Users user in Model._users)
                        {
                            <tr>
                                <th scope="row">@user.Id</th>
                                <td>@user.Email</td>
                                <td>@user.Name</td>
                                <td>@user.Level</td>
                                <td>@Model.WalletName</td>
                                <td>@Model.SupervisorName</td>
                                <td>
                                    <div class="row row-cols-auto">
                                        <div class="col">
                                            <form method="post" asp-action="ManageUsers" asp-controller="Admin">
                                                <input hidden name="Id" type="text" value=@user.Id />
                                                <input hidden name="Action" type="text" value="Edit" />
                                                <button type="submit" class="btn btn-primary">Editar</button>
                                            </form>

                                        </div>
                                        <div class="col">
                                            <form method="post" asp-action="ManageUsers" asp-controller="Admin">
                                                <input hidden name="Id" type="text" value=@user.Id />
                                                <input hidden name="Action" type="text" value="Delete" />
                                                <button type="submit" class="btn btn-primary">Eliminar</button>
                                            </form>
                                        </div>
                                        @if (!user.Level.Equals("admin"))
                                        {
                                            <div class="col">
                                                <form method="post" asp-action="ManageUsers" asp-controller="Admin">
                                                    <input hidden name="Id" type="text" value=@user.Id />
                                                    <input hidden name="Action" type="text" value="Session" />
                                                    <button type="submit" class="btn btn-primary">Session</button>
                                                </form>
                                            </div>
                                         }
                                    </div>
                                </td>    
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>