@model UsersDTO

<div class="row">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <div class="widget-table">
            <header class="widget-header">
                <h4 class="widget-title">Informacion de cliente</h4>
            </header><!-- .widget-header -->
            <hr class="widget-separator">
            <div class="widget-body">
                <form method="POST" asp-action="Edit" asp-controller="Client" asp-route-id="@Model.Id" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Nit">Nº Identificacion::</label>
                        <input type="text" asp-for="Nit" class="form-control" id="Nit" required="" autocomplete="off" value="@Model.Nit">
                    </div>
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" asp-for="Name" class="form-control" id="name" required="" value="@Model.Name">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Apellidos:</label>
                        <input type="text" asp-for="LastName" class="form-control" id="LastName" required="" value="@Model.LastName">
                    </div>
                    <div class="form-group">
                        <label for="Address">Direccion:</label>
                        <input type="text" asp-for="Address" placeholder="" class="form-control g-autoplaces-address" id="Address" required="" value="@Model.Address">
                    </div>
                    <div class="form-group d-none over-change-display">
                        <label for="address">Mapa:</label>
                        <div id="map" class="map-google"></div>
                    </div>
                    <input type="hidden" name="lat" value="@Model.lat"
                           class="form-control" id="lat" asp-for="lat">
                    <input type="hidden" name="lng" value="@Model.lng"
                           class="form-control" id="lng" asp-for="lng">
                    <div class="form-group">
                        <label for="Province">Barrio:</label>
                        <input type="text" asp-for="Province" class="form-control" id="Province" required="" value="@Model.Province">
                    </div>
                    <div class="form-group">
                        <label for="Phone">Teléfono:</label>
                        <input type="number" asp-for="Phone" class="form-control" id="Phone" required="" value="@Model.Phone">
                    </div>
                    <div class="form-group">
                        <select name="status" class="form-control" id="">
                            @if (Model.Status == "good")
                            {
                                <option selected value="good">Bueno</option>
                            }
                            else if (Model.Status == "bad")
                            {
                                <option selected value="bad">Malo</option>
                            }
                        </select>
                    </div>
                    @if (Model.Error != null)
                    {
                        @if (Model.Error.ShowDescription)
                        {
                            <p style="color:red;">@Model.Error.description</p>
                        }
                    }
                    <div class="form-group">
                        <div class="d-grid">
                            <button type="submit" class="btn btnPrimary">Guardar</button>
                        </div>
                    </div>
                </form>

            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
</div><!-- .row -->