@model HistoryAgentDTO

<div class="row">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <div class="widget-table">
            <header class="widget-header">
                <h4 class="widget-title">Cerrar día</h4>
            </header><!-- .widget-header -->
            <hr class="widget-separator">
            <div class="widget-body">
                <form method="POST" asp-route-id="@Model.user.Id" asp-action="Close" asp-controller="Close" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="base_amount">Agente:</label>
                        <input type="text" name="base_amount" value="@Model.user.Name @Model.user.LastName" readonly class="form-control" id="base_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="base_amount">Base del cobro:</label>
                        <input type="text" name="base_amount_total" value="@Model.Base" readonly class="form-control" id="base_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="base_amount">Recaudo:</label>
                        <input type="text" name="today" value="@Model.today_amount" readonly class="form-control" id="base_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="base_amount">Ventas:</label>
                        <input type="text" name="today" value="@Model.today_sell" readonly class="form-control" id="base_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="base_amount">Gastos:</label>
                        <input type="text" name="today" value="@Model.bills" readonly class="form-control" id="base_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="base_amount">Total Cuadre:</label>
                        <input type="text" name="total_today" value="@Model.total" readonly class="form-control" id="base_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="base_amount">Efectividad:</label>
                        <input type="text" name="today" value="@Model.average" readonly class="form-control" id="base_amount" required>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="d-grid">
                                <button type="submit" class="btn text-white" style="background-color:rgb(47, 50, 144);">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                @if (Model.error != null)
                {
                    @if (Model.error.ShowDescription)
                    {
                        <p style="color:red;">@Model.error.description</p>
                    }
                }

            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
</div><!-- .row -->